<header id="header">
  <div class="container-fluid">
    <a href="{{ '/' | relative_url }}" class="logo"><img src="{{ '/assets/img/nadonlogo.png' | relative_url }}" alt="Nadon Thai"></a>
    
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link{% if page.url == '/' or page.url == '/index.html' %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a></li>
        <li><a class="nav-link{% if page.url contains 'menu' %} active{% endif %}" href="{{ '/menu/' | relative_url }}">Menu</a></li>
        <li><a class="nav-link{% if page.url contains 'gift-vouchers' %} active{% endif %}" href="{{ '/gift-vouchers/' | relative_url }}">Gift Vouchers</a></li>
        <li><a class="nav-link{% if page.url contains 'gallery' %} active{% endif %}" href="{{ '/gallery/' | relative_url }}">Gallery</a></li>
        {% for location in site.data.locations %}
        <li><a href="{{ '/' | relative_url }}{{ location.slug }}/"{% if page.location_id == location.id %} class="active"{% endif %}>{{ location.name }}</a></li>
        {% endfor %}
      </ul>
      <button class="mobile-nav-toggle" aria-label="Toggle navigation">&#9776;</button>
    </nav>
    
    <a href="{{ '/book-a-table/' | relative_url }}" class="book-a-table-btn d-none d-lg-flex{% if page.url contains 'book-a-table' %} active{% endif %}">Book a table</a>
  </div>
</header>
