<div class="campaign-popup" id="newcastle-restaurant-week-popup" role="dialog" aria-modal="true" aria-labelledby="newcastle-restaurant-week-title" hidden>
  <div class="campaign-popup__dialog">
    <button class="campaign-popup__close" type="button" data-popup-dismiss aria-label="Dismiss Newcastle Restaurant Week popup">
      <span aria-hidden="true">&times;</span>
    </button>

    <h2 class="visually-hidden" id="newcastle-restaurant-week-title">Newcastle Restaurant Week, 3 to 9 August 2026</h2>

    <a class="campaign-popup__image-link" href="{{ '/book-a-table-newcastle/' | relative_url }}" data-popup-book>
      <img src="{{ '/assets/img/newcastle-restaurant-week-2026.png' | relative_url }}" alt="Newcastle Restaurant Week is back from 3 to 9 August 2026" width="1254" height="1254">
    </a>

    <div class="campaign-popup__actions">
      <a class="campaign-popup__book" href="{{ '/book-a-table-newcastle/' | relative_url }}" data-popup-book>Book Newcastle</a>
      <button class="campaign-popup__dismiss" type="button" data-popup-dismiss>Dismiss</button>
    </div>
  </div>
</div>
