<div class="special-offers-form">
  <iframe
    class="special-offers-iframe"
    width="540"
    height="305"
    src="https://a1f0bbad.sibforms.com/v2/serve/MUIFADfqsFLHewgnEGTgbqxT_bziVO2GwNiceHtSPwr6wnAG9PYz3RQ-KJmnPnJs3gLLLuf0VLEos3sSwdTCa_W8gEIqwdjlinngqLCCumGxEHwUHq8LjPpVX5icw8Gc3e3rnnRDJuw7eEunQsAK0wM5nKjIEe0GMLWmLQ7jBngSwuLPRWmckai3Dee4J9FX9ug8brqIwwg_i4Q4HA=="
    title="Sign up for Nadon Thai special offers"
    loading="lazy"
    scrolling="auto"
  ></iframe>
  <p class="special-offers-privacy">
    By subscribing, you agree to receive special offers from Nadon Thai by email. You can unsubscribe at any time.
    <a href="{{ '/privacy-policy/' | relative_url }}">Privacy Policy</a>
  </p>
</div>
