---
layout: default
---
{% assign location = site.data.locations | where: "id", page.location_id | first %}

<main id="main">
  <section class="breadcrumbs">
    <div class="container">
      <h2>Nadon Thai {{ location.name }}</h2>
    </div>
  </section>

  <section class="book-a-table">
    <div class="container">
      <div class="section-title">
        <h2>Reservation</h2>
        <p>Book a Table</p>
      </div>
      
      <div class="text-center mb-3">
        <p><a href="{{ '/book-a-table/' | relative_url }}">&lt; Change Restaurant</a></p>
      </div>

      <div class="row" style="justify-content: center;">
        <div class="col-lg-8 text-center">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
</main>
